<!DOCTYPE html>home
<html>
  <head>
    <title>CSS Template</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Montserrat", sans-serif;
      }
      .w3-row-padding img {
        margin-bottom: 12px;
      }
      /* Set the width of the sidebar to 120px */
      .w3-sidebar {
        width: 120px;
        background: #222;
      }
      /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
      #main {
        margin-left: 120px;
      }
      /* Remove margins from "page content" on small screens */
      @media only screen and (max-width: 600px) {
        #main {
          margin-left: 0;
        }
      }
    </style>
  </head>

  <body class="w3-black">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <!-- Avatar image in top left corner -->
      <img src="/bull.png" alt="bull_photo" style="width: 100%" />

      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a
        href="#events"
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-newspaper-o w3-xxlarge"></i>
        <p>Events</p>
      </a>
      <a
        href="#clubs"
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-users w3-xxlarge"></i>
        <p>Clubs</p>
      </a>
      <a
        href="#my_account "
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-id-card w3-xxlarge"></i>
        <p>My Account</p>
      </a>
      <a
        href="#signout"
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-sign-out w3-xxlarge"></i>
        <p>Sign Out</p>
      </a>
    </nav>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo">
          <span class="w3-hide-small">Maverick Gram ©</span>
        </h1>
        <p>
          Maverick Gram, we are here to make your campus life a little bit
          easier
        </p>
        <img
          src="/Mavericks.jpeg"
          alt="Mavericks"
          class="w3-image"
          width="800"
          height="1000"
        />
      </header>

      <!-- About Section -->

      <!-- Portfolio Section -->
      <div class="w3-padding-64 w3-content" id="events">
        <h2 class="w3-text-light-grey">Events</h2>
        <hr style="width: 200px" class="w3-opacity" />

        <!-- Grid for photos -->
        <div class="w3-row-padding" style="margin: 0 -16px">
          <div class="w3-half">
            <img src="/bowling.jpeg" alt="bowling_photo" style="width: 100%" />
            <img
              src="/dodgeball.jpeg"
              alt="dodgeball_photo"
              style="width: 100%"
            />
          </div>

          <div class="w3-half">
            <img src="/movie.jpeg" alt="movie_photo" style="width: 100%" />
            <img
              src="/basketball.png"
              alt="basketball_photo"
              style="width: 100%"
            />
            <img src="/trivia.png" alt="trivia_photo" style="width: 100%" />
          </div>
          <!-- End photo grid -->
        </div>
        <!-- End Portfolio Section -->
      </div>

      <!-- Contact Section -->
      <div class="w3-padding-64 w3-content w3-text-grey" id="clubs">
        <h2 class="w3-text-light-grey">Clubs</h2>
        <hr style="width: 200px" class="w3-opacity" />

        <!-- Grid for photos -->
        <div class="w3-row-padding" style="margin: 0 -16px">
          <div class="w3-half">
            <img
              src="/arthistory.png"
              alt="arthistory_club_photo"
              style="width: 100%"
            />
            <img
              src="/bookclub.jpeg"
              alt="bookclub_photo"
              style="width: 100%"
            />
            <img src="/chess.jpeg" alt="chess_photo" style="width: 100%" />
          </div>

          <div class="w3-half">
            <!-- Right Half -->
            <img src="/math.jpeg" alt="math_photo" style="width: 100%" />
            <img
              src="/photo.jpeg"
              alt="photography_club_photo"
              style="width: 100%"
            />
            <img src="/speech.jpeg" alt="speech_photo" style="width: 100%" />
            <img
              src="/Sculpture.jpeg"
              alt="sculpture_photo"
              style="width: 100%"
            />
          </div>
          <!-- End photo grid -->
        </div>
        <!-- End Portfolio Section -->
      </div>
      <!-- My Account Information -->
      <div class="w3-padding-64 w3-content w3-text-grey" id="my_account">
        <h2 class="w3-text-light-grey">My Account Information</h2>
        <hr style="width: 200px" class="w3-opacity" />

        <div class="w3-section">
          <p>
            <i
              class="fa fa-address-card fa-fw w3-text-red w3-xxlarge w3-margin-right"
            ></i>
            My Account
          </p>
          <form action="/action_page.php" target="_blank">
            <p>
              <input
                class="w3-input w3-padding-16"
                type="text"
                placeholder="Username"
                required
                name="Username"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16"
                type="text"
                placeholder="Email"
                required
                name="Email"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16"
                type="text"
                placeholder="New Password"
                required
                name="New_Password"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16"
                type="text"
                placeholder="Confirm Password"
                required
                name="Message"
              />
            </p>
            <p>
              <button
                class="w3-button w3-light-grey w3-padding-large"
                type="submit"
              >
                <i class="fa fa-paper-plane"></i> Make Change
              </button>
            </p>
          </form>
        </div>

        <!-- End Contact Section -->
      </div>
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-light-grey">Who are we?</h2>
        <hr style="width: 200px" class="w3-opacity" />
        <!-- Testimonials -->
        <img
          src="/bull.png"
          alt="Avatar"
          class="w3-left w3-circle w3-margin-right"
          style="width: 80px"
        />
        <p><span class="w3-large w3-margin-right">Maverick Gram©</span></p>
        <p>We design your website</p>
        <br />
        <p>
          MAVERICK GRAM application allowing all featured clubs, host to post
          announcements, club events and news on this one single platform which
          all students would have the access to. This program allows all users
          to see what's going on campus without having to search for each school
          related events individually on social media.
          <!-- End About Section -->
        </p>
      </div>

      <!-- Footer -->
      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Maverick Gram 2022©</p>
        <!-- End footer -->
      </footer>

      <!-- END PAGE CONTENT -->
    </div>
  </body>
</html>
