/*****
Webpage edits
******/
body {
    padding-left: 15px;
}
/******
Heading
*******/
header {
    float: left;
    color: #FCA205;
    margin: 0 0 25px 0;
    width: 100%;
    font-weight: bold;
}
h1 a {
    float: left;
    padding: 30px;
    color: #FCA205;
    font-family: 'cursive';
}

h2 {
    float: left;
    padding: 30px;
    color: #FCA205;
    font-family: 'cursive';
    font-weight: bold;
    font-size: 1.25em;

}
h3 {
    float: left;
    color: #FCA205;
    font-family: 'cursive';
    font-size: 2.00em;
}
h4 {
    float: left;
    font-family: 'cursive';
    font-size: 1.25em;
}

