<!DOCTYPE html>
{% extends "crm/base.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h2>Log In</h2>
    {%  if form.errors %}
    <p>
    Your username and password didn't match.
    Please try again.
    </p>

    {%  endif %}
    <div class="login-form">
     <form action=""{%  url 'login' %} method="post">
         {{  form.as_p }}
         {%  csrf_token %}
         <input type="hidden" name="next" value="{{  next }}"/>
         <p></p><input type="submit" value="Log-in"></p>
     </form>
    </div>

    {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

</form>
{% endblock content %}